#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  margin: 1vw;
  padding: 0.5vw;
}